@CHARSET "UTF-8";
body{
	margin:0 auto;
	width:700px;
	font-size:12px;
}
a{
	text-decoration:none;
	font-size:14px;
}
a:hover{
	text-decoration:underline;
	font-size:18px;
}
.top1{
	
	width:700px;
	height:30px;
	
}
.top2{
	margin:3px;
	margin-left:2px;
	width:250px;
	height:60px;
	/*text-align: center;*/
	vertical-align:middle;
	line-height: 10px; 
}

.middle{
	width:700px;
	border :1px solid silver;
	background:white;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.mid{
	
	width:680px;
	margin-left:15px;
	
}